/*--- Fonts ---*/
@font-face {
    font-family: 'Libron Regular';
    src: url('/static/fonts/Libron-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libron Bold';
    src: url('/static/fonts/Libron-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libron Italic';
    src: url('/static/fonts/Libron-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libron Bold Italic';
    src: url('/static/fonts/Libron-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/*--- Page styling ---*/
* {
    box-sizing: border-box;
}
body {
    font-family: 'Libron Regular', sans-serif;
    margin: 15px;
    padding: 0;
}

#wrapper {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.owl-img {
    width: 100%;
    border-radius: 5px;
}

.detail-section {
    padding: 6px 0px;
}

#species-search {
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    font-family: 'Libron Regular', sans-serif;
}

#species-search:focus {
    border: 2px solid darkslategray;
    outline: 0;
}

/* --- Letter spacing --- */
h1, h2, h3 {
    letter-spacing: -0.02em;
    line-height: 1.3;
}

/*--- Text format styling ---*/
i, em {
    font-family: 'Libron Italic';
}

strong, b {
    font-family: 'Libron Bold';
}

mark {
    background-color: darkslategray;
}

a {
    color: darkslategray;
}

p {
    line-height: 1.6;
}